body {
	/*background-color: rgba(89, 40, 13, 0.7);*/
	background: linear-gradient(
			to bottom,
			rgba(251, 228, 186, 0.15) 0%,
			rgba(89, 40, 13, 0.15) 100%
		),
		radial-gradient(
				at top center,
				rgba(251, 228, 186, 0.4) 0%,
				rgba(89, 40, 13, 0.4) 120%
			)
			#989898;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	text-align: center;
	color: #59280d;
}

h2 {
	text-align: center;
}

h3 {
	color: #59280d;
}

img {
	display: block;
	margin: 30px auto;
	max-width: 100%;
	border-radius: 30px;
}

button {
	display: block;
	margin: 0 auto;
}

hr {
	max-width: 50%;
	border: 1px solid #59280d;
}

ul {
	list-style-type: none;
	line-height: 1.5;
}

p {
	line-height: 1.5;
}

span {
	font-family: "Courier New", Courier, monospace;
	color: #59280d;
}

a {
	color: #59280d;
	display: block;
	text-align: center;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	transition: all 200ms ease-in-out;
}

button {
	background-color: #59280d;
	border: none;
	border-radius: 30px;
	color: #fbe4ba;
	font-size: 16px;
	padding: 15px 30px;
	box-shadow: 0 0 10px rgb(89, 40, 13, 0.5);
}

button:hover {
	background-color: #fbe4ba;
	color: #59280d;
	cursor: pointer;
	transition: all 150ms ease-in-out;
}

.container {
	background-color: #fbe4ba;
	padding: 25px 50px;
	max-width: 600px;
	margin: 20px auto;
	border-radius: 25px;
	box-shadow: 0 0 50px #000000;
}

.footer {
	font-family: "Courier New", Courier, monospace;
	font-size: small;
	text-align: center;
}
